<footer class="footer py-5 theme-bg-primary">
<div class="container text-center">
  <ul class="social-list list-inline mb-4">
    <li class="list-inline-item me-3">
      <a href="https://www.twitter.com/realmsofcyber"><i class="fab fa-twitter social-icon"></i></a>
    </li>
    <li class="list-inline-item me-3">
      <a href="https://www.facebook.com/realmsofcyber/"><i class="fab fa-facebook social-icon"></i></a>
    </li>
    <li class="list-inline-item me-3">
      <a href="https://www.instagram.com/p/DNT66knMeRe/?utm_source=ig_web_button_share_sheet"><i
          class="fab fa-instagram fa-fw social-icon"></i></a>
    </li>
    <li class="list-inline-item me-0">
      <a href="https://www.linkedin.com/company/realmsofcyber/"><i
          class="fab fa-linkedin fa-fw social-icon"></i></a>
    </li>
  </ul>
  <ul class="footer-links list-inline mx-auto mb-4">
    <li class="list-inline-item">
      <a href="#modal-code-of-conduct" data-bs-toggle="modal" data-bs-target="#modal-code-of-conduct"><b>Code of
          Conduct</b></a>
    </li><br>
    <li class="list-inline-item">
      <a href="{{ humanitix_contact_url }}" ><b>Contact Us</b></a>
    </li><br>
    <li class="list-inline-item">
      <a href="{{ mailing_list_url }}" ><b>Get ROCC updates first</b></a>
    </li>
  </ul>
  <div class="archive-links mb-4 text-center">
    <p class="text-white mb-2"><b>Past Events:</b></p>
    <div class="d-flex justify-content-center flex-wrap gap-3">
      {% for past_year in available_years|sort %}
      {% if past_year != 2026 %}
      {% set past_rocc_year = "ROCC" + (past_year|string)[-2:] %}
      <div>
        <a href="{{ base_path|default('') }}{{ past_year }}.html" class="text-white"><b>{{ past_rocc_year }}</b></a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <picture>
    <img class="logo-icon footer-logo" style="width: 200px; align-content: center" src="{{ base_path|default('') }}assets/images/roclogotxt.png" alt="Realms of Cyber">
  </picture>
</div>
</footer>
