<!DOCTYPE html>
<html lang="en">

{% include 'head.jinja' %}

<body>

{% include 'partials/nav.jinja' %}

{% block content %}{% endblock %}

{% include 'code-of-conduct-modal.jinja' %}

{% include 'javascript.jinja' %}

</body>
</html>
