<footer class="footer py-5 theme-bg-primary">
<div class="container text-center">
  <ul class="social-list list-inline mb-4">
    <li class="list-inline-item me-3">
      <a href="https://www.twitter.com/realmsofcyber"><i class="fab fa-twitter social-icon"></i></a>
    </li>
    <li class="list-inline-item me-3">
      <a href="https://www.facebook.com/realmsofcyber/"><i class="fab fa-facebook social-icon"></i></a>
    </li>
    <li class="list-inline-item me-3">
      <a href="https://www.instagram.com/p/DNT66knMeRe/?utm_source=ig_web_button_share_sheet"><i
          class="fab fa-instagram fa-fw social-icon"></i></a>
    </li>
    <li class="list-inline-item me-0">
      <a href="https://www.linkedin.com/company/realmsofcyber/"><i
          class="fab fa-linkedin fa-fw social-icon"></i></a>
    </li>
  </ul>
  <!--//social-list-->

  <ul class="footer-links list-inline mx-auto mb-4">
    <li class="list-inline-item">
      <a href="#modal-code-of-conduct" data-bs-toggle="modal" data-bs-target="#modal-code-of-conduct"><b>Code of
          Conduct</b></a>
    </li><br>
    <li class="list-inline-item">
      <a href="https://events.humanitix.com/realms-of-cyber-2025/contact" ><b>Contact Us</b></a>
    </li><br>
    <li class="list-inline-item">
      <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=M_lB6ZN8ZUqF9CN5eeaMlk2zVhzLeglLsBOvYaQmADVUNDVPOFdaNUlFRTBDS01WVVdVM1ZMRTlKQi4u" ><b>Get ROCC updates first</b></a>
    </li>
  </ul>
  <picture>
    <img class="logo-icon" style="width: 200px; align-content: center" src="assets/images/roclogotxt2.png" alt="logo">
  </picture>
  <!--//footer-link-->
</div>
<!--//container-->
</footer>