<!DOCTYPE html>
<html lang="en">

{% include 'head.jinja' %}

<body>

{% include 'top.jinja' %}

{% include 'about.jinja' %}

{% include 'speakers.jinja' %}

{% if True %}
{% include 'schedule.jinja' %}
{% endif %}

{% include 'tickets.jinja' %}

{% include 'venue.jinja' %}

{% include 'sponsors.jinja' %}

{% include 'faq.jinja' %}

{% include 'footer.jinja' %}

{% include 'code-of-conduct-modal.jinja' %}

{% include 'javascript.jinja' %}

</body>
</html>