<!DOCTYPE html>
<html lang="en">

{% include 'head.jinja' %}

<body>

{% include 'top.jinja' %}

{% include 'about.jinja' %}

{% if (is_post_event and testimonials and testimonials|length > 0) or (photo_highlights and photo_highlights|length > 0) %}
{% include 'highlights.jinja' %}
{% endif %}

{% if not is_year_page or is_post_event %}
{% include 'speakers.jinja' %}
{% endif %}

{% if has_schedules and (not is_year_page or is_post_event) %}
{% include 'schedule.jinja' %}
{% endif %}

{% if tickets_on_sale and not is_post_event and production %}
{% include 'tickets.jinja' %}
{% endif %}

{% if not is_post_event %}
{% include 'venue.jinja' %}
{% endif %}

{% if has_sponsors and (not is_year_page or is_post_event) %}
{% include 'sponsors.jinja' %}
{% endif %}

{% if (exhibitors and exhibitors|length > 0) and (not is_year_page or is_post_event) %}
{% include 'exhibitors.jinja' %}
{% endif %}

{% include 'faq.jinja' %}

{% include 'footer.jinja' %}

{% include 'code-of-conduct-modal.jinja' %}

{% include 'javascript.jinja' %}

</body>
</html>
