  <!-- Javascript -->
  <script src="{{ base_path|default('') }}assets/plugins/popper.min.js"></script>
  <script src="{{ base_path|default('') }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ base_path|default('') }}assets/plugins/smoothscroll.min.js"></script>
  <script src="{{ base_path|default('') }}assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
  <script src="{{ base_path|default('') }}assets/js/main.js"></script>

  <script>
    document.querySelector('.btn').addEventListener('click', function () {
      mixpanel.track('Purchase Ticket', {
        'Button Name': this.textContent,
        'Page URL': window.location.href
      });
    });

   // Mixpanel event for when a speaker modal is opened
   document.querySelectorAll('.modal-speaker').forEach(function(modal) {
      modal.addEventListener('show.bs.modal', function () {
        const speakerId = this.id;
        const speakerName = this.querySelector('.modal-title').textContent.trim();
        mixpanel.track('Speaker Modal Opened', {
          'Speaker Name': speakerName,
          'Page URL': window.location.href
        });
      });
    });

  </script>