<h3 class="section-heading text-center mb-3">MC</h3>
<div class="section-intro text-center single-col-max mx-auto mb-4">
  ROCC {{ year }} will be hosted by Adam Green and Gareth Smith:
</div>

<div class="row">
    <div class="col-6 col-lg-3 mb-4" style="margin-left: auto !important;">
      <div class="card rounded-0">
        <a href="#modal-mc" data-bs-toggle="modal" data-bs-target="#modal-mc"><img src="assets/images/speakers/adam_green.jpg" class="card-img-top rounded-0" alt=""></a>
        <div class="card-body">
          <h5 class="card-title mb-2">Adam Green</h5>
          <div class="card-text mb-3">
            <div class="meta">Founder and CISO</div>
            <div class="meta">Green Cyber Consulting</div>
          </div>
          <a href="#modal-mc" data-bs-toggle="modal" data-bs-target="#modal-mc">Read more →</a>
        </div>
        <div class="card-footer text-muted">
          <ul class="social-list list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/adam-green-7a348519/"><i class="fab fa-linkedin-in fa-fw" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4" style="margin-right: auto !important;">
      <div class="card rounded-0">
        <a href="#modal-mc2" data-bs-toggle="modal" data-bs-target="#modal-mc2"><img src="assets/images/speakers/gareth_smith.jpg" class="card-img-top rounded-0" alt=""></a>
        <div class="card-body">
          <h5 class="card-title mb-2">Gareth Smith</h5>
          <div class="card-text mb-3">
            <div class="meta">Principal Advisor – Infrastructure and I&OT Security</div>
            <div class="meta">President – ISA Queensland Chapter</div>
          </div>
          <a href="#modal-mc2" data-bs-toggle="modal" data-bs-target="#modal-mc2">Read more →</a>
        </div>
        <div class="card-footer text-muted">
          <ul class="social-list list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/gareth-smith-23a7023/"><i class="fab fa-linkedin-in fa-fw" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>


<!-- Modal MC-->
<div class="modal modal-speaker modal-mc" id="modal-mc" tabindex="-1" role="dialog" aria-labelledby="mc-ModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      <h4 id="mc-ModalLabel" class="modal-title sr-only">Adam Green</h4>
    </div>
    <div class="modal-body p-0">
      <div class="theme-bg-light p-5">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto"
              src="assets/images/speakers/adam_green.jpg" alt="" />
          </div>

          <div class="col text-center text-md-start mx-auto">
            <h2 class="name mb-2">Adam Green</h2>
            <div class="meta">Founder and CISO</div>
            <div class="meta">Green Cyber Consulting</div>
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/adam-green-7a348519/"><i
                    class="fab fa-linkedin-in fa-fw"></i></a>
              </li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//col-->
        </div>
        <!--//row-->
      </div>
      <div class="desc p-4 p-lg-5">
        <div class="meta">
            With 20+ years of cybersecurity thought leadership, Adam has worked alongside some of the most disruptive and respected names in the industry — including IBM, Palo Alto Networks, Verizon, Honeywell, NTT Data, and a Foreign Defence JV.
        </div>
        <br />
        <div class="meta">
            As the advisor in more than 20 active cyber incidents and ransomware attacks, as well as leading hundreds of simulations and war rooms. This unique exposure — including direct observation of elite forensic investigators and hackers — has allowed him to guide CIOs, CISOs, and Boards through moments of critical risk with clarity, precision, and foresight.
        </div>
        <br />
        <div class="meta">
            As the CISO of Green Cyber Consulting, Adam works with vulnerable sectors across Higher Ed, Critical Infrastructure, Healthcare, Government, and SMBs — helping them build resilience through on-demand, technology-agnostic cybersecurity leadership. Green Cyber’s Virtual CISO model makes world-class security leadership accessible without the barrier of fixed retainers, empowering businesses to own their outcomes and regain control.
        </div>
        <br />
        <div class="meta">
            In parallel, Adam is deeply passionate about executive coaching, industry mentorship, and career development. Having led the hiring of hundreds of cyber professionals, he now helps others do what they do best — from cross-skilling newcomers to accelerating established leaders toward promotions and work-life balance.            </div>
      </div>
    </div>
    <!--//modal-body-->
  </div>
  <!--//modal-content-->
</div>
<!--//modal-dialog-->
</div>
<!--//modal-->


<div class="modal modal-speaker modal-mc" id="modal-mc2" tabindex="-1" role="dialog" aria-labelledby="mc-ModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      <h4 id="mc-ModalLabel" class="modal-title sr-only">Gareth Smith</h4>
    </div>
    <div class="modal-body p-0">
      <div class="theme-bg-light p-5">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto"
              src="assets/images/speakers/gareth_smith.jpg" alt="" />
          </div>

          <div class="col text-center text-md-start mx-auto">
            <h2 class="name mb-2">Gareth Smith</h2>
            <div class="meta">Principal Advisor – Infrastructure and I&OT Security</div>
            <div class="meta">President – ISA Queensland Chapter</div>
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/gareth-smith-23a7023/"><i
                    class="fab fa-linkedin-in fa-fw"></i></a>
              </li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//col-->
        </div>
        <!--//row-->
      </div>
      <div class="desc p-4 p-lg-5">
        <div class="meta">
            "Gareth Smith is a seasoned cybersecurity professional with over 20 years of experience, the majority of which was spent in corporate IT before shifting his focus to industrial control systems (ICS) and operational technology (OT) security in 2018.
        </div>
        <br />
        <div class="meta">
            He currently serves as Principal Advisor – Infrastructure and I&OT Security for a large multinational mining company, where he leads the protection of critical operational environments across complex, globally distributed industrial sites. His work centres on securing ICS/PCN systems in high-availability, safety-critical contexts.
        </div>
        <br />
        <div class="meta">
            Gareth is also the President of the ISA Queensland Chapter, helping drive professional development and community engagement across the industrial automation and control systems security sector.
        </div>
        <br />
        <div class="meta">
            Known for his practical mindset and depth of technical insight, Gareth brings a grounded yet forward-looking perspective to OT security. As MC for the OT stream at ROCC25, he will steer discussions on the evolving challenges and innovations at the heart of cyber-physical resilience."
        </div>
      </div>
    </div>
    <!--//modal-body-->
  </div>
  <!--//modal-content-->
</div>
<!--//modal-dialog-->
</div>
<!--//modal-->