<div class="container">
    <hr>
</div>

<section id="schedule" class="schedule-section section active">
    <div class="container">
      <h3 class="section-heading text-center mb-5">Schedule</h3>
      <div class="schedule-tab-content tab-content">
        <div class="tab-pane active show" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">

          {% for schedule_item in schedule -%}
          {% if "speaker" in schedule_item.keys() %}
          <h2 class="fw-bolder text-primary mb-4 text-center">{{ schedule_item["name"] }}</h2>
          <div class="item item-talk">
            <div class="meta">
              <h4 class="time mb-3">{{ schedule_item["time"] }}</h4>
              <div class="profile">
                <a href="#{{ schedule_item["speaker"]["image"] }}" data-bs-toggle="modal" data-bs-target="#{{ schedule_item["speaker"]["image"] }}"><img class="profile-image rounded-circle mb-2" src="assets/images/speakers/{{ schedule_item["speaker"]["image"] }}" alt=""></a>
                <div class="name">
                  <a class="theme-link" href="#{{ schedule_item["speaker"]["image"] }}" data-bs-toggle="modal" data-bs-target="#{{ schedule_item["speaker"]["image"] }}">{{ schedule_item["speaker"]["name"] }}</a>
                </div>
              </div>
            </div>
            <div class="content">
              <h3 class="title mb-3">
                {{ schedule_item["title"] }}
              </h3>
            {% if schedule_item["logo"] != "NONE" %}
              <div class="location mb-3">
                <i class="fa-solid {{ schedule_item["logo"] }} me-2" aria-hidden="true"></i>
                <b>{{ schedule_item["realm"] }} Realm</b>
              </div>
              <div class="desc">
                  {{ schedule_item["desc"] }}
              </div>
            {% endif %}
            </div>
          </div>
          {% else %}
          <div class="item item-other">
            <div class="meta">
              <h4 class="time mb-3">{{ schedule_item["time"] }}</h4>
            </div>
            <div class="content">
              <h3 class="title mb-3">{{ schedule_item["title"] }}</h3>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
</section>
