<section id="sponsors-section" class="sponsors-section section">
<div class="container">
  <h3 class="section-heading text-center mb-3">
    Sponsors
  </h3>
  <div class="section-intro text-center single-col-max mx-auto mb-5">
    {{ sponsor_blurb }}
  </div>

  {% for sponsor_level in sponsors -%}
      <h2 class="fw-bolder text-primary mb-4 text-center">{{ sponsor_level }}</h2>
      {% if sponsor_level == "Silver" or sponsor_level == "Bronze" %}
        {% set ns = namespace(sponsor_count=0) %}
      {% endif %}
      {% for sponsor_detail in sponsors[sponsor_level] -%}
          {% if sponsor_level == "Silver" or sponsor_level == "Bronze" %}
            {% if ns.sponsor_count % 2 == 0 %}
              <div class="row logos justify-content-center">
            {% endif %}
            <div class="logo-item m-4 col-6 col-md-4 col-lg-4 d-flex align-items-center">
              <a href="{{ sponsor_detail['url'] }}" target="_blank"><img style="float: left; width: {{ sponsor_detail['width'] }}px; height: {{ sponsor_detail['height'] }}px; object-fit:scale-down; max-height: {{ sponsor_detail['height'] }}px"
                  src="assets/images/sponsors/{{ sponsor_detail['logo'] }}" alt="{{ sponsor_detail['name'] }}" /></a>
            </div>
            {% if ns.sponsor_count % 2 == 1 %}
              </div>
            {% endif %}
            {% set ns.sponsor_count = ns.sponsor_count + 1 %}
          {% else %}
              <div class="row logos justify-content-center">
                <div class="logo-item m-4 col-6 col-md-4 col-lg-4 d-flex align-items-center">
                  <a href="{{ sponsor_detail['url'] }}" target="_blank"><img style="float: left; width: {{ sponsor_detail['width'] }}px; height: {{ sponsor_detail['height'] }}px; object-fit:scale-down; max-height: {{ sponsor_detail['height'] }}px"
                      src="assets/images/sponsors/{{ sponsor_detail['logo'] }}" alt="{{ sponsor_detail['name'] }}" /></a>
                </div>
              </div>
          {% endif %}
      {% endfor %}
      {% if (sponsor_level == "Silver" or sponsor_level == "Bronze") and ns.sponsor_count % 2 == 0 %}
        </div>
      {% endif %}
      <br>
  {% endfor %}
  <!--//sponsors-->
  <div class="sponsors-cta text-center pt-5">
    <a class="btn-primary btn btn-lg" href="{{ become_a_sponsor_url }}">Become A Sponsor</a>
  </div>
</div>
<!--//container-->
</section>