{% if tickets_on_sale %}
<section id="tickets-section" class="tickets-section section theme-bg-light">
<div class="container">
  <h3 class="section-heading text-center mb-3">Tickets</h3>

  <div class="row pricing mb-2 justify-content-center">

  <!--//col-->
    <div class="col-12 col-md-4 p-2 p-lg-4">
      <div class="card card-special rounded-0 border-0">
        <div class="card-body p-0">
          <div class="heading text-center p-3">
            <h4 class="text-white mb-0">Critical Infrastructure / Asset Owner Ticket</h4>
          </div>
          <div class="info p-3">
            <div class="price-figure text-center">
              <span class="number">$330</span>
            </div>
            <div class="desc px-3 text-center">
              Critical Infrastructure / Asset Owner ticket eligibility: Must work directly for a Critical Infrastructure / Asset Owner organisation, and register with organisation email to purchase this ticket.
            </div>
          </div>
          <!--//info-->
        </div>
        <!--//card-body-->
        <div class="card-footer text-center">
          <a href="{{ ticket_url }}#group0" class="btn btn-primary">Secure Now</a>
        </div>
      </div>
      <!--//card-->
    </div>
    <!--//col-->

     <!--//col-->
     <div class="col-12 col-md-4 p-2 p-lg-4">
      <div class="card card-special rounded-0 border-0">
        <div class="card-body p-0">
          <div class="heading text-center p-3">
            <h4 class="text-white mb-0">General Admission</h4>
          </div>
          <div class="info p-3">
            <div class="price-figure text-center">
              <span class="number">$990</span>
            </div>
            <div class="desc px-3 text-center">

            </div>
          </div>
          <!--//info-->
        </div>
        <!--//card-body-->
        <div class="card-footer text-center">
          <a href="{{ ticket_url }}#group0" class="btn btn-primary">Secure Now</a>
        </div>
      </div>
      <!--//card-->
    </div>
    <!--//col-->


    <!--//col-->
    <div class="col-12 col-md-4 p-2 p-lg-4">
      <div class="card card-special rounded-0 border-0">
        <div class="card-body p-0">
          <div class="heading text-center p-3">
            <h4 class="text-white mb-0">Student Ticket</h4>
          </div>
          <div class="info p-3">
            <div class="price-figure text-center">
              <span class="number">$165</span>
            </div>
            <div class="desc px-3 text-center">
              Student ticket eligibility: Must be currently studying full time, and register with your student email to purchase this ticket.
            </div>
          </div>
          <!--//info-->
        </div>
        <!--//card-body-->
        <div class="card-footer text-center">
          <a href="{{ ticket_url }}#group1" class="btn btn-primary">Secure Now</a>
        </div>
      </div>
      <!--//card-->
    </div>
    <!--//col-->

    <!--//col-->
    <div class="col-12 col-md-4 p-2 p-lg-4">
      <div class="card card-special rounded-0 border-0">
        <div class="card-body p-0">
          <div class="heading text-center p-3">
            <h4 class="text-white mb-0">VIP Ticket</h4>
          </div>
          <div class="info p-3">
            <div class="price-figure text-center">
              <span class="number">$1,650</span>
            </div>
            <div class="desc px-3 text-center">

            </div>
          </div>
          <!--//info-->
        </div>
        <!--//card-body-->
        <div class="card-footer text-center">
          <a href="{{ ticket_url }}#group0" class="btn btn-primary">Secure Now</a>
        </div>
      </div>
      <!--//card-->
    </div>
    <!--//col-->

    <!-- hide normal ticket
    <div class="col-12 col-md-4 p-2 p-lg-4">
      <div class="card card-special rounded-0 border-0">
        <div class="card-body p-0">
          <div class="heading text-center p-3">
            <h4 class="text-white mb-0">Early Bird Special</h4>
          </div>
          <div class="info p-3">
            <div class="price-figure text-center">
              <h4 class="text-black p-3 mb-0" style="font-size: 1.125rem;">50% Discount<br><del>$1100</del></h4>
              <span class="number">$550</span>
            </div>
            <div class="desc px-3">
              Purchase your regular ticket before they run out.
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="{{ ticket_url }}#group1" class="btn btn-primary">Secure Now</a>
        </div>
      </div>
    </div>
    -->
  </div>
    <p class="text-center">If you are experiencing financial hardship that is preventing you from purchasing a ticket, please <a href="https://forms.office.com/r/8GUa9t9yds" ><b>Contact us</b></a>.</p>
</div>
</section>
{% endif %}