<section id="faq-section" class="faq section theme-bg-secondary text-white">
<div class="container">
  <h3 class="section-heading text-center mb-5">What attendees said</h3>
    <div class="row gx-5 py-lg-5">
      <p class="text-black">
Jerome: " ..I honestly think (its) the coolest cyber conference in Brisbane"<br><br>
Keith: "Great conference yesterday.. I enjoyed attending this conference more than any other in the past 5+ years"<br><br>
Sarah: "The Q&As after each session were gold because this community asks the RIGHT questions!"<br><br>
Cristey: " What a great day of knowledge and connection! Looking forward to 2026!</p>
    </div>
  </div>
</section>