<section id="exhibitors-section" class="exhibitors-section section">
  <div class="container">
    <h3 class="section-heading text-center mb-3">Exhibitors</h3>
    {% if exhibitor_blurb != None %}
      <div class="section-intro text-center single-col-max mx-auto mb-5">{{ exhibitor_blurb }}</div>
    {% endif %}
    {% for exhibitor_details in exhibitors -%}
      {% if loop.index0 is divisibleby 2 %}
        <div class="row logos justify-content-center">
      {% endif %}
      <div class="logo-item m-4 col-6 col-md-4 col-lg-4 d-flex align-items-center">
        <a href="{{ exhibitor_details['url'] }}" target="_blank"><img style="float: left; width: {{ exhibitor_details.get('width', 320) }}px; height: {{ exhibitor_details.get('height', 110) }}px; object-fit:scale-down; max-height: {{ exhibitor_details.get('height', 110) }}px"
              src="{{ base_path|default('') }}assets/images/{{ year }}/exhibitors/{{ exhibitor_details['logo'] }}" alt="{{ exhibitor_details['name'] }}" />
        </a>
      </div>
      {% if loop.index is divisibleby 2 or loop.last %}
        </div>
      {% endif %}
      <br>
    {% endfor %}
  </div>
</section>
